doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascritps/jquery.min.js")
  body
    block content
    script(src="/javascripts/index.js")